mat-card {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f9f9f9;
}

mat-card-header {
  text-align: center;
  background-color: #080708;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  margin-top: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

button[mat-button] {
  background-color: #f44336;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[mat-button]:hover {
  background-color: #d32f2f;
}