<mat-horizontal-stepper [linear]="isLinear">
  <mat-step label="Actualizar Información Básica">
    <form [formGroup]="updFormGroup" (ngSubmit)="openConfirmDialog()">
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar Agencia</mat-label>
        <mat-select (selectionChange)="onAgenciaSelected($event.value)">
          <mat-option *ngFor="let agencia of agencias" [value]="agencia.nombreAgencia">
            {{ agencia.nombreAgencia }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nombre Agencia</mat-label>
        <input matInput formControlName="nombreAgencia" placeholder="Nombre Agencia" required>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Descripción Agencia</mat-label>
        <textarea matInput formControlName="descripcion" placeholder="Descripción Agencia" rows="4"></textarea>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>URL de la Imagen</mat-label>
        <input matInput formControlName="imageUrl" placeholder="URL de la imagen">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="correo" placeholder="Correo Electrónico">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" placeholder="Teléfono" type="number">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" placeholder="Dirección">
      </mat-form-field>

      <button mat-button type="submit">Actualizar</button>
    </form>
  </mat-step>
</mat-horizontal-stepper>
